<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LessonDao">

	<!-- 컬럼명과 프로퍼티명 일치시킴 -->
	<!-- pk 컬럼은 result가 아니라 id라고 해줘야 함 -->
	<resultMap type="lesson" id="LessonMap">
		<id column="lno" property="no" />
		<!-- <result column="title" property="title" /> -->
		<result column="cont" property="contents" />
		<result column="sdt" property="startDate" />
		<result column="edt" property="endDate" />
		<result column="tot_hr" property="totalHours" />
		<result column="day_hr" property="dayHours" />
		<result column="mno" property="writerNo" />
	</resultMap>

	<select id="findAll" resultMap="LessonMap">
		select lno, title, sdt, edt,
		tot_hr from lesson
	</select>

	<select id="findByNo" parameterType="int" resultMap="LessonMap">
		select lno,
		title, cont, sdt, edt, tot_hr, day_hr, mno
		from lesson where lno=#{no}
	</select>

	<insert id="insert" parameterType="lesson">
		insert into lesson (title,
		cont, sdt, edt, tot_hr, day_hr, mno)
		values(#{title}, #{contents},
		#{startDate}, #{endDate}, #{totalHours},
		#{dayHours}, #{writerNo})
	</insert>

	<update id="update" parameterType="lesson">
		update lesson set
		title=#{title},
		cont=#{contents},
		sdt=#{startDate},
		edt=#{endDate},
		tot_hr=#{totalHours},
		day_hr=#{dayHours},
		mno=#{writerNo}
		where lno=#{no}
	</update>

	<delete id="delete" parameterType="int">
		delete from lesson where lno=#{no}
	</delete>

</mapper>